/* IDs */
#loginBar{
    width: 100%;
    padding: 5px;

}
body{
    background:url(/*../monsters/09.png*/) no-repeat center;
    background-color:#000000;
    /*#927370*/
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    font-family:"Verdana",verdana,sans;
    font-size:1em;
    height: 100%;
    position:fixed;
}

#playerFieldWidth{
    max-width: 200px;
    display: inline-block;
}
#mainLabels{
    width:200px; 
    float:left;
}
#mainContainer{

}
/*Classes*/
.modalTitle{
    text-align: center;
}
.responsive{
    width:100%;
    height:auto;
    max-width:150px;
    max-height:86px;
}
.card.is-wide{
    width: 350px;
}
#formHoriz{
    field is-horizontal;
}
/* imports*/
$modal-background-background-color:rgba($white, 0.86)