#inputBar
	{
		width: 150px;

	}
	
#loginBar
	{
		width: 400px;

	}
	body{
	background:url(../monsters/09.png) no-repeat;
	background-color:#927370;
	color: #ffffff;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
	font-family:"Verdana",verdana,sans;
	font-size:1em;
	height: auto;
}

#runSubmitPopOut{
	background: black;
	margin: auto;
	width: 50%;
	padding: 10px;
}



//Testing

nav a 
{
text-decoration: none;
padding: 20px;
display: block; 
background-color: black; 
border-left: white solid;
text-align: center;
}

nav a:link 
{ 
color: pink;
}

nav a:visited 
{ 
color: pink;
}

nav a:hover 
{
color: pink;
background: linear-gradient(to right, white, black);
}
nav 
{
float: left;
min-width: 25%;
font-weight: bold;
letter-spacing: 0.1em;
display: block;
}
